body {
	margin : 0px;
}

#header {
	background : #b30047;
}

#header h1 {
	margin : 0;
	padding : 10px 0 10px 0;
	
}

#header h1 span.icon {
	color : #ffffff;
}

#header h1 span.logo {
	color : white;
	font-family : 標楷體;
	vertical-align : top;
}

#nav {
	background : #b30047;
}

#nav .item {
	display : inline-block;
	padding : 8px;
	width : 17%;
	
	color : white;
	text-decoration: none;
	border-top : 20px solid #b30047;
}

#nav .item .icon {
	color : #ffb3d1;
}

#nav .item .item-text {
	color : white;
	font-family : 標楷體;
	font-size : 20px;
}

#nav .item:hover .icon {
	color : #ff4d94;
}

#nav .item:hover {
	background : #ffffff;
}

#nav .item:hover .item-text {
	color : #ff4d94;
}

#nav .clicked .icon {
	color : #ff4d94;
}

#nav .clicked .item-text {
	color : #b30047;
}

#nav .clicked {
	border-top : 20px solid #b30047;
	background : white;
}